<!DOCTYPE html>
<html lang="en">
<head>

     <title>Online Exam Platform</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}">
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css')}}">
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/aos.css')}}">
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css')}}">
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.theme.default.min.css')}}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-digital-trend.css')}}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="">
              <i class="fa fa-line-chart"></i>
              Online Exam
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="{{url_for('login')}}" class="smoothScroll">SignIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="{{url_for('about')}}" class="smoothScroll">ABOUT</a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="{{url_for('user_reg')}}" class="smoothScroll">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="{{url_for('contact')}}" class="smoothScroll">CONTACT</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="about section-padding pb-0">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              
                    <form name="ff" class="contact-form" action="{{url_for('login_action')}}" method="post" role="form" onSubmit="return formValidation();">
			<center> 
  <div style="margin-top:60px; margin-bottom:100px;">
				<table width="auto" border="0" >
                <tr>
                <th colspan="2"><div align="center">SignIn</div></th>
                </tr>
                <tr>
                <td>	<input name="email" type="text" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" id="name" placeholder="Email" required/>
				  	</td>
                      </tr>
                      <tr>
                      <td><input name="password" type="password" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" id="email" placeholder="Password" required/>
				  </td>	
                  </tr>
                  <tr>
                  <td>
                  <input name="submit" type="submit" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" id="submit" value="Sign In Now">
					</td>
                    </tr>
			</table>
        </div>
    </center>
			</form> </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{{ url_for('static', filename='assets/images/working-girl.png')}}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy;  Online Exam
           </p>
          </div>

          

          

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
     <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
     <script src="{{ url_for('static', filename='assets/js/aos.js')}}"></script>
     <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js')}}"></script>
     <script src="{{ url_for('static', filename='assets/js/smoothscroll.js')}}"></script>
     <script src="{{ url_for('static', filename='assets/js/custom.js')}}"></script>

</body>
</html>